html {
	color-scheme: dark light;
}

body {
	display: grid;
	grid-template-columns: 1fr 20rem;
}

aside {
	background-color: hsl(0 0% 20%);
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	& > * {
		margin: .25rem;
	}
}

button {
	border: none;
	cursor: pointer;
}

[role="tablist"] {
	list-style: none;
	display: flex;
	gap: 1rem;
}

[aria-selected="true"] {
	text-decoration-thickness: .25em;
	text-underline-offset: .5em;
}

.main__word-display {
	display: flex;
	background-color: red;
	height: 3rem;
	width: 6rem;

	& > * {
		margin: .25rem;
	}
}

.main__word-interactor {
	display: flex;

	& > * {
		margin: .25rem;
	}
}

.main__turn-display {
	font-size: 7rem;
}
